@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    margin: 0;
}

header {
    background-color: #2b2b2b;
    position: relative;
}

header .logo {
    background-image: url("../img/logo.png");
    width: 131px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 8px;
    opacity: .9;
}

header .logo:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 765px) {
    header .logo {
        display: none;
    }
}

nav {
    margin: auto;
    text-align: center;
    color: #838383;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

nav div {
    border-left: 1px solid #585858;
    padding: 2vh;
    cursor: pointer;
}

nav div:hover {
    background-color: #dd7d00;
    color: #1d1d1d;
}

nav div:last-child {
    border-right: 1px solid #585858;
}

nav div svg {
    padding-left: .8vh;
}

nav .active {
    background-color: #dd7d00;
    color: #1d1d1d;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav #spill {
    position: relative;
}

nav #spill-submenu {
    display: none;
    border: none;
    position: absolute;
    left: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #838383;
}

nav #spill-submenu div {
    border: none;
    border-bottom: 1px solid;
}

nav #spill-submenu div:first-child {
    border-top: 1px solid;
}

.flexbox-container {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    margin: 2vh auto;
    border: 1px solid #000000;
}

.flexbox-container div {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    font-family: "Permanent Marker", cursive;
    cursor: pointer;
    line-height: 150px;
    text-align: center;
    font-size: 6em;
}

.flexbox-container div:hover {
    background-color: #dd7d00 !important;
}

.flexbox-container div:nth-child(odd) {
    background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 550px) {
    .flexbox-container {
        width: 306px;
    }
    .flexbox-container div {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 4em;
    }
}

@media screen and (max-width: 400px) {
    .flexbox-container {
        width: 156px;
    }
    .flexbox-container div {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 2em;
    }
}

section {
    max-width: 450px;
    margin: auto;
}