@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --wrapper-width: 960px;
}

body {
    margin: 0;
}

header {
    background-color: #2b2b2b;
}

header .logo {
    background-image: url("../img/logo.png");
    width: 131px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 8px;
    opacity: .9;
}

header .logo:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 765px) {
    header .logo {
        display: none;
    }
}

nav {
    margin: auto;
    text-align: center;
    color: #838383;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

nav div {
    border-left: 1px solid #585858;
    padding: 2vh;
    cursor: pointer;
}

nav div:hover {
    background-color: #dd7d00;
    color: #1d1d1d;
}

nav div:last-child {
    border-right: 1px solid #585858;
}

nav div svg {
    padding-left: .8vh;
}

nav .active {
    background-color: #dd7d00;
    color: #1d1d1d;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav #projects {
    position: relative;
}

nav #projects-submenu {
    display: none;
    border: none;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    color: #838383;
    z-index: 1;
}

nav #projects-submenu div {
    border: none;
    border-bottom: 1px solid;
}

nav #projects-submenu div:first-child {
    border-top: 1px solid;
}

.front-banners {
    max-width: 960px;
    margin: auto;
}

.front-banners:hover {
    cursor: pointer;
}

main {
    max-width: var(--wrapper-width);
    margin: auto;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.flexbox-container {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    border: 1px solid #000000;
}

.flexbox-container div {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    font-family: "Permanent Marker", cursive;
    cursor: pointer;
    line-height: 150px;
    text-align: center;
    font-size: 6em;
}

.flexbox-container div:hover {
    background-color: #dd7d00 !important;
}

.flexbox-container div:nth-child(odd) {
    background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 550px) {
    .flexbox-container {
        width: 306px;
    }
    .flexbox-container div {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 4em;
    }
}

@media screen and (max-width: 400px) {
    .flexbox-container {
        width: 156px;
    }
    .flexbox-container div {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 2em;
    }
}

footer {
    background-color: #2b2b2b;
    color: #838383;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer .wrapper {
    max-width: var(--wrapper-width);
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

footer ul {
    margin: 0;
}