body {
    font-family: 'Raleway', sans-serif;
}

#puzzle-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: start;
}

#puzzle-container div {
    background-color: #CCCCCC;
    width: 150px;
    height: 150px;
    margin: .2vh;
    transition: height 1s, width 1s;
}

#puzzle-container div:hover {
    cursor: pointer;
}

#puzzle-pieces-wrapper {
    position: relative;
    top: -500px;
    left: 450px;
}

#puzzle-pieces {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: start;
}

#puzzle-pieces div {
    background-color: #CCCCCC;
    width: 150px;
    height: 150px;
    margin: 4vh;
    transition: height 1s, width 1s, border .3s;
    border: 1px solid #CCCCCC;
    position: absolute;
}

#puzzle-pieces div:hover {
    border: 1px solid #000000;
    cursor: pointer;
}

#reset {
    padding: .5vh;
    width: 100px;
    background-color: #dd7d00;
    border: 1px solid #000000;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    margin: 20px 0 0 2px;
}

#reset:hover {
    background-color: #f58b00;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #puzzle-container div {
        width: 100px;
        height: 100px;
    }
}