main {
    .contact {
        padding: 100px 0;
        background-image: url('../img/contact.jpg');
        background-size: cover;

        .container {

            .row {
                
                .col {
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 40px;
                    border-radius: 10px;
                    color: white;
                }
            }
        }

        .about-text {
            max-width: 810px;

            h5 {
                line-height: 1.5em;
                margin-bottom: 20px;

                span {
                    font-weight: bold;
                }
            }

            .contact-btns {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: fit-content;
                align-items: flex-start;

                a {
                    background-color:#dd7d00;
                    padding: 10px 20px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    border-radius: 10px;
    
                    &:hover {
                        color: #ececec;
                        transform: scale(1.1);
                        transition: .5s;
                    }
                }

                @media screen and (max-width: 500px) {
                    flex-direction: column;

                    a {
                        min-width: 111px;
                        padding: 7px 12px;
                        font-size: .9em;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                h2 {
                    font-size: 1.4em;
                }

                h5 {
                    font-size: 1em;
                }
            }
        }

        h2 {
            font-weight: bold;
            color: #dd7d00;

            &::after {
                content: '';
                width: 16px;
                height: 4px;
                background: #dd7d00;
                transform: translate(2px, 1px);
                opacity: 0;
                display: inline-block;
                animation: blink 1s linear infinite alternate;
            }

            @keyframes blink {
                from {
                    opacity: 0;
                } to {
                    opacity: 1;
                }
            }
        }
    }
}