main {
    display: grid;
    gap: 40px;

    .about-front {
        padding: 60px 0;
        background-image: url('../img/code.png');
        background-size: cover;

        .container {

            .row {
                
                .col {
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 40px;
                    border-radius: 10px;
                    color: white;
                }
            }
        }

        .about-text {
            max-width: 810px;

            h5 {
                line-height: 1.5em;
                margin-bottom: 20px;

                span {
                    font-weight: bold;
                }
            }

            .about-btns {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: fit-content;
                align-items: flex-start;

                a {
                    background-color:#dd7d00;
                    padding: 10px 20px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    border-radius: 10px;
    
                    &:hover {
                        color: #ececec;
                        transform: scale(1.1);
                        transition: .5s;
                    }
                }

                @media screen and (max-width: 500px) {
                    flex-direction: column;

                    a {
                        min-width: 111px;
                        padding: 7px 12px;
                        font-size: .9em;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                h2 {
                    font-size: 1.4em;
                }

                h5 {
                    font-size: 1em;
                }
            }
        }

        h2 {
            font-weight: bold;
            color: #dd7d00;

            &::after {
                content: '';
                width: 16px;
                height: 4px;
                background: #dd7d00;
                transform: translate(2px, 1px);
                opacity: 0;
                display: inline-block;
                animation: blink 1s linear infinite alternate;
            }

            @keyframes blink {
                from {
                    opacity: 0;
                } to {
                    opacity: 1;
                }
            }
        }
    }

    a {
        color: #ff9100;
        text-decoration: none;

        &:hover {
            color: #c77100;
        }
    }

    .cards {
        .card {
            margin-bottom: 10px;
        }

        .card-text {
            min-height: 48px;
        }

        img {
            max-height: 200px;
            object-fit: cover;
        }

        .bottom {
            object-position: bottom;
        }

        .top {
            object-position: top;
        }

        .center {
            object-position: center;
        }

        .bottom {
            object-position: bottom;
        }

        .btn {
            background-color:#dd7d00;
            border-color:#dd7d00;
            color: black;
            min-width: 120px;

            &:hover {
                color: white;
                transition: .5s;
                transform: scale(1.05);
            }
        }

        .card-btns {
            display: flex;
            gap: 10px;
            align-items: flex-start;
        }
    }
}
