body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
    padding-bottom: 104px; // Footer height
}

body {
    overflow-y: scroll;
}

.profile {
    background: url('../img/profile.png');
    background-size: contain;
    width: 893px;
    height: 1000px;
}

main {
    display: grid;
    gap: 40px;
    padding-bottom: 70px; // Footer spacing
}