header {
    position: relative;
    background-color: #2b2b2b;
    display: grid;
    align-items: center;
    box-shadow: 0px 1px 8px 0px #000;

    .logo {
        background-image: url("../img/logo.png");
        width: 130px;
        height: 35px;
        position: absolute;
        left: 40px;
        opacity: .9;

        &:hover {
            background-image: url("../img/logo-hover.png");
            opacity: 1;
            cursor: pointer;
            transform: scale(1.03);
            transition: .5s;
        }
    }

    nav {
        margin: auto;
        text-align: center;
        color: #838383;
        font-family: 'Raleway', sans-serif;
        display: flex;
        justify-content: center;

        div {
            border-left: 1px solid #585858;
            padding: 18px;
            cursor: pointer;
            min-height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #dd7d00;
                color: #1d1d1d;
            }

            &:last-child {
                border-right: 1px solid #585858;
            }

            svg {
                padding-left: .8vh;
            }

            @media screen and (max-width: 440px) {
                flex-direction: column;
            }

            @media screen and (max-width: 544px) {
                padding: 10px;
                transition: .5s;
            }
        }

        .active {
            background-color: #dd7d00;
            color: #1d1d1d;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        #projects {
            position: relative;
        }

        #projects-submenu {
            display: none;
            border: none;
            position: absolute;
            padding: 0;
            top: 0;
            left: 0;
            background-color: #2b2b2b;
            color: #838383;
            z-index: 1;

            div {
                border: none;
                border-bottom: 1px solid;

                &:first-child {
                    border-top: 1px solid;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header .logo {
        left: 10px;
    }
}

@media screen and (max-width: 830px) {
    header .logo {
        display: none;
    }
}